.updateQRCode{

  .QRCodeImg {
    width: 200px;
    height: 200px;
    margin-left: 10px;
  }

  .loadingImg {
    width: 200px;
    height: 200px;
    text-align: center;
    line-height: 200px;
    font-size: 24px;
  }

  .imgEdit {
    margin-top: 20px;
    margin-left: 20px;
    overflow: hidden;
  }
}