.rebateCountryInfo {

  .btnLine {
    width: 500px;

    .label {
      float: left;
      line-height: 32px;
      font-size: 18px;
      margin-right: 10px;
    }

    .submit {
      margin-top: 10px;
      float: right;
    }
  }
}